---
pagination:
  data: collections.videoPages
  size: 20
  alias: videos
permalink: /videos/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html
---

<h1>所有视频</h1>
<ul>
{% for video in videos %}
  <li><a href="{{ video.url }}">{{ video.title }}</a></li>
{% endfor %}
</ul>

<!-- 分页导航链接 -->
<nav>
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">上一页</a>
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">下一页</a>
  {% endif %}
</nav>
