--- 
permalink: /videolist/
layout: layouts/home.njk
eleventyNavigation:
  key: Videolist
  order: 5
 ---

      <ul>
        {% for video in videoInfo %}
          <li>
            <h3>{{ video.title }}</h3>
            <p>{{ video.desc }}</p>
            <p><img src={{ video.img }}> </p>
          </li>
        {% endfor %}
      </ul>
