---
permalink: /vy1/
layout: layouts/home.njk
eleventyNavigation:
  key: Videoyear
  order: 6
---

   start rendering....<br>
    <p>  o count {{ vMap[0].count }} </p> 
 	{% for vitem  in  vMap %}
			 <ul>
			  <li>   the day : {{vitem[vkey] }} and count: {{ vitem.count }}  </li>
			  <li>
  
            {% for  vid  in  vitem.list %}
        				  
                        <li>       <h3>{{ videoInfo[ vid].title }}</h3>    </li>
             
                      {% set vUrl %}/videoitem/{{ videoInfo[vid].videoid | slugify }}/{% endset %}
                    	<li><a href="{{ vUrl }}" class="post-tag">src of {{ videoInfo[vid].title }}</a></li>
						
            {% endfor %}
				  
				    </li>
				  </ul>
     {% endfor %}
end of rending ....<BR>
