---
permalink: /vy1/
layout: layouts/home.njk
eleventyNavigation:
  key: Videoyear
  order: 6
---

 <ul>
{% set keys = vtimeMap24.keys()   %}

{% for dkey in keys %}
  <li>   the day :[ {{dkey}}  </li>
  <li>
  
            {% for  vid  in  vtimeMap24[dkey]   %}
          
                        <li>       <h3>{{ videoInfo[ vid].title }}</h3>    </li>
             
                      {% set vUrl %}/videoitem/{{ videoInfo[vid].videoid | slugify }}/{% endset %}
                    	<li><a href="{{ vUrl }}" class="post-tag">src of {{ videoInfo[vid].title }}</a></li>

            {% endfor %}
  
    </li>
    
    {% endfor %}
      </ul>
  {% endset %}
